.App {
  display: flex;
  height: 100%;
}

.configuration {
  display: flex;
  flex-direction: column;
}

.configuration .rcp {
  padding: 10px;
  border-radius: 0 0;
}

.configuration .rcp-saturation {
  border-radius: 0 0;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #181818;
  opacity: 0.8;
  border-radius: 0px;
  padding: 0.5rem;
  height: 100%;
}

.controls .objectTitle {
  height: 80px;
}

.controls .objectTitle h2 {
  color: #ecfcfc;
  font-size: 1.2rem;
  text-align: center;
}

.controls .controlGroup {
  height: 100px;
  margin-bottom: 0.5rem;
}

.controls .control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls .control input {
  margin: 0.2rem;
  border: none;
  border-radius: 0px;
  padding: 0.1rem;
  text-align: center;
}

.controls .control label {
  font-size: 0.8rem;
  color: #ecfcfc;
  margin-right: 0.5rem;
  flex: 1 1 0;
}

.controls .shapeControl {
  height: 100px;
}

.controls .shapeControl label {
  font-size: 1rem;
  padding-left: 2px;
}